@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap&subset=cyrillic-ext');
body {
	font-family: 'Arimo', sans-serif;
}

.background {
	height: 980px;
	background-image: url(../images/back_intro_all.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: minmax(222px, 2fr) 3fr 2fr;
	grid-template-rows: 132px 1fr;

	min-width: 1000px;
}

.logo {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 0 15px;
	/*background-image: url(../images/logo.svg);
	background-position: center;
	background-size: 192px 92px;
	background-repeat: no-repeat;*/
	
}
a {
	color: inherit;
	text-decoration: none;
}
.menu {
	display: flex;
	padding: 0;
	gap: 0 min(5vw, 50px);	
	height: 100%;	
	margin: 0;
	color: white;

	line-height: 16px;
	text-transform: uppercase;
	font-size: 14px;	
}

.menu li {
	list-style: none;
	a {
		display: flex;
		justify-content: center;	
		align-items: center;
		height: 100%;
		svg {
			padding-left: 3px;
		}
		&:hover {
			color: #FF6633;
			svg path {
				fill: #FF6633;
			}
		}
	}	
}

